<!DOCTYPE html>
<html>
    <title> Assignment Due Date</title>
    <body style="background-color: #add8e6;"> 
        <div style="border: 2px solid #000000; background-color: #ffffff; padding-left: 3%;"> 
            <h1> Assignment Due Date</h1>
        </div><br>

        <div style="text-align: center; border: 2px solid #000000; background-color: #ffffff; padding-top: 3%; padding-bottom: 5%;"> 
            <h2>Homework 1</h2>
            <h2>Due Date: Submit within a week!</h2>
        </div><br><br>

    </div>
    <div style="text-align-last: right; font-size: large;">
    <a href="http://localhost:8080/homepage">Go Back to Home Page</a>
   </div>

</html>