<!DOCTYPE html>
<html>
   <style> table {border: 5px solid #808080; background-color: #e6e6fa; border-radius: 10px; width: 100%; height: 100%}</style>
   <style> tbody {border: 2px dotted #000000}</style>
   <head>
      <title>Student Portal</title>
   </head>
   <body style="background-color: #add8e6">
      <h1> Welcome Student</h1>
      <h1 style="text-align: center"> Course: SWE 443</h1>
      <table> 
         <tr> 
            <th><h2>Assignment Name</h2></th>
            <th><h2>Grade</h2></th>
         </tr>
         <tr> 
            <td><h3>Assignment #1</h3></td>
            <td><h3>Grade:</h3></td>
         </tr>
         <tr> 
            <td><h3>Assignment #2</h3></td>
            <td><h3>Grade:</h3></td>
         </tr>
         <tr> 
            <td><h3>Assignment #3</h3></td>
            <td><h3>Grade:</h3></td>
         </tr>
         <tr> 
            <td><h3>Assignment #4</h3></td>
            <td><h3>Grade:</h3></td>
         </tr>
      </table>
   </body>
</html>